
/***************************************************************************************************/
/******************************* Style associated with tags ****************************************/
/***************************************************************************************************/

body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
background-image: url(../images/bg-texture-03.png);
background-color: white;
}

html,body
{
height:100%;
}

footer 
{
	position: relative;
	margin-top: -40px; /* negative value of footer height */
	height: 40px;
	clear:both;
	color:#fff;
	background-color: #08437F;	
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
h3 {
	line-height: 27px;
	font-size: 18px;
}
a {
text-decoration: none;
color: #1F5D9A;
}
dd {
margin-left: 9px;
line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: inherit;
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;
}
ul, ol {
padding: 0;
margin: 0 0 9px 25px;
}
/***** End Style associated with tags ***/
  

  
  
/***************************************************************************************************/
/************************* Style associated with ids used for unique containers ******************/
/***************************************************************************************************/
  
/***** Div that wrap of the web page ***/
#wrap
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0/*40px*/ auto -40px;
}

/***** Div that wrap the frame containing the content (everything but header and footer) ***/
#main
{
	overflow: hidden;
	padding-bottom:50px; /* this needs to be bigger than footer height*/
	padding-top: 40px;
}

/***** Copyright HEC Montréal ***/
#copyright 
{
	padding-top: 10px;
	padding-right: 10px;
	color: #97C8F1;
}

/***** logo HEC Montréal ***/
#brand 
{	
  display: block;
  float: left;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

/***** Container of web page tab ***/
#my-tab-content{
	overflow: visible;	
	scroll:no;
	}
	
/***** Header ***/	
#HEC-header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
/***** define background color for header ***/
#HEC-header.navbar .nav li.dropdown.open > .dropdown-toggle, #HEC-header.navbar .nav li.dropdown.active > .dropdown-toggle, #HEC-header.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #07315B;
	color: white/*#555555*/;
}

#par-recherche  > div{
	min-height: 300px;
}




/******************************************************************************************************************************************************/
/*********************************************************** Search styles ***********************************************************/
/******************************************************************************************************************************************************/

/***** search bar container ***/
#navbar-search {
  position: relative;
  float: right;
  margin-top: 6px;
  margin-bottom: 0;
}

/***** search bar ***/
#research_global_button {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  background: #666;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

/***** search bar placeholder (text displayed when empty) for chrome and firefox ***/
#research_global_button:-moz-placeholder {  color: #cccccc;}
#research_global_button::-webkit-input-placeholder {  color: #cccccc;}

/***** search bar when focus or mouse over ***/
#research_global_button:hover {  color: #ffffff;  background-color: #999999;  background-color: rgba(255, 255, 255, 0.5);}
#research_global_button:focus {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}

/***** search bar logo (fire search when cliked)***/
#research_global_logo{
	position:relative;
	left:10px;
}

/***** div that contains the dropdown filtering options within search datatable headers(career, department or language)***/
.search_options{
	height: 40px !important;
}


/***** text describing the filter selected within search datatable headers(career, department or language)***/
.span_filter{
	font-weight:normal;
	color: #999999;
	text-align:center   !important;
	width:100% !important;
	margin:0;
	padding:0;
	height: 18px;
	padding-top:8px;
	float: left;
	text-shadow:none !important;
	text-overflow:ellipsis;	
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis;
	white-space: nowrap;  
    overflow: hidden;
	line-height:8px;
}
/***** value of the filter selected within search datatable headers(career, department or language)***/
.search_options_label{
	color:#333;
	text-align:center;
	width:100%;
}
.search_options_label:hover{
	background-color: rgba(1, 43, 93, 0.5) !important;
}
.search_options_label:hover > span{
	color: white ;
}

/***** cell content within search result datatable ***/
#searchTable thead, #searchTable th, .search_options, #searchTable li, #searchTable a{
	text-align:center;
	margin:0;
	padding:0;
	width:100%;
} 

/***** buttons that access course outline within search result datatable ***/
#searchTable .btn{
	float:left;
	width:45%;
	margin-right:3%;
} 


/***** label of search result datatable header***/
.span_label_static{
color:#333;
text-align:center   !important;
width:100% !important;
font-weight:bold;
font-size: 1.2em;
border-bottom: 1px solid white;
margin:0;
padding:0;
height: 65px;
padding-top:10px;
float: left;
}

/***** label of search result datatable header that has a filtering option(career, department or language)***/
.span_label{
color:#333;
text-align:center   !important;
width:100% !important;
font-weight:bold;
font-size: 1.2em;
border-bottom: 1px solid white;
margin:0;
padding:0;
height: 25px;
padding-top:0px;
float: left;
}
  

/******************************************************************************************************************************************************/
/********************** Dropdown menus styles(overidde twitter bootstrap css): wrapper of drop down menus used to select filters ******************/
/******************************************************************************************************************************************************/
 .dropdown-menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 120px;  
  max-width: 250px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #0088cc;
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
	max-width: inherit;
}

/***** elements of the filter list within search datatable headers(career, department or language)***/
.dropdown-menu.pull-right a{
	 text-align: left !important;
	 font-size: 13px !important;
}

.dropdown.open .dropdown-menu {
    display: block;
}

  
/******************************************************************************************************************************************************/
/********************** Navbar styles(overidde twitter bootstrap css): wrapper of bar divs used in header/footer/search result table ******************/
/******************************************************************************************************************************************************/



.navbar {
overflow: visible;
margin-bottom: 18px;
color: #999;
}
/***** list (ul tag with "nav" class) under a navbar ***/
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  list-style: none;
}
.navbar .nav.pull-right {
  float: right;  
  margin-left: 10px;
  margin-right: 0;
}
.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  font-size: 13px;
  color: #97c8f1;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: block;
}
.navbar .nav > li > a:hover {
  text-decoration: none;
  background-color: #07315B;
	color: white/*#555555*/;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(1, 43, 93, 0.5)/*rgba(0, 0, 0, 0.5)*/;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
background-color: transparent;
}

/***** divider between list elements under a navbar ***/
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #386292;
  border-right: 1px solid #07315b;
}

/***** dropdown menus under a navbar***/
.navbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: auto;
  right: 12px;
}
.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  right: 13px;
  left: auto;
}




/***** navbar of the header div***/
.navbar-inner {
  padding-left: 0;
  padding-right: 0;
-webkit-border-radius: 0;
	-moz-border-radius: 0;
	min-height: 40px;
	border-radius: 0;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #08437f, #012b5d);
  background-image: -ms-linear-gradient(top, #08437f, #012b5d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08437f), to(#012b5d));
  background-image: -webkit-linear-gradient(top, #08437f, #012b5d);
  background-image: -o-linear-gradient(top, #08437f, #012b5d);
  background-image: linear-gradient(top, #08437f, #012b5d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08437f', endColorstr='#012b5d', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/***** container of the header content (logo, etc...)***/
.container {
margin-left: auto;
margin-right: auto;
width: 940px;
}



/******************************************************************************************************************************************************/
/********************** Tabs styles(overidde twitter bootstrap css) ******************/
/******************************************************************************************************************************************************/

/***** style that makes menu tab content displaying only if the tab as "active" class ***/
.tab-content > .tab-pane{
  display: none;
}
.tab-content > .active {
  display: block;
}

/***** style for the menu tabs (behaviour when clicked, mouseover, etc...) ***/
#tabs {
  border-bottom: 1px solid #DDD;
  list-style: none;
  margin-left: 0;
margin-bottom: 18px;
}
#tabs > li {
  margin-bottom: -1px;
  float: left;
}

#tabs > .active > a, #tabs > .active > a:hover {
	color: #555;
	background-color: #EFF4F7;
	border: 1px solid #DDD;
	border-bottom-color: transparent;
	cursor: default;
}

#tabs > li > a{
	padding-top: 9px;
	padding-bottom: 9px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
	display: block;
}
#tabs> li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
  background: rgba(151, 200, 241, 0.125);
}

#tabs::before, #tabs::after {
display: table;
content: "";
}

#tabs::after {
clear: both;
}



/******************************************************************************************************************************************************/
/********************** Menus styles ******************/
/******************************************************************************************************************************************************/

/***** style for the menu frames ***/
.menu {
	background: rgba(31, 93, 154, 0.05);
	min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* style of the selected line within department or career menu */
.selected_menuitem{
    color: #555555;
	font-style:italic;
}

/******************************************************************************************************************************************************/
/********************** Icon styles ******************/
/******************************************************************************************************************************************************/

/* Icon for caret */
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	text-indent: -99999px;
	vertical-align: top;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
	opacity: 0.3;
	filter: alpha(opacity=30);
	content: "↓2193";
	border-top-color: white;
	border-bottom-color: white;
	margin-top: 8px;
	margin-left: 2px;
}

/***** Define common properties to all icon class ***/
[class^="icon-"] {
display: inline-block;
background-repeat: no-repeat;
}

.icon-button-right {
	margin-right:0; 
	margin-top: 2px;
}

.icon-file-pdf {
	background-image: url(../images/co_pdf.png);
	background-position: 0 0;
	width: 20px;
	height: 20px;
	margin-left:7px;
	margin-top:7px;
}

.icon-star {
	background-image: url(../images/co_html.png);
	background-position: 0 0;
	width: 20px;
	height: 20px;
}

.icon_header_img{	
	margin-left:7px;	
	margin-top:7px;
}

.icon_button_img{
	margin-left:3px;	
	margin-top:5px;
}

.icon_button_label{
	position: relative;
	top:-4px;
}



a:hover .icon-white, li.active a .icon-white {
	background-image: url(../plugins/bootstrap/img/glyphicons-halflings-white2.png);
}

.icon-search {
background-position: -48px 0;
}




/***** Define the file where we get the icons ***/
.icon-white,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../plugins/bootstrap/img/glyphicons-halflings-white.png");
}

/***** Microapp class used to display icons (pdf or html) in result list ***/
a.button-microapp i, a.button-option i {
	opacity: 0.25;
	filter: alpha(opacity=25);
}
a.button-microapp:hover{
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}
a.button-microapp i:hover, a.button-option i.hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
a.button-microapp {
	border-radius: 4px;
}
a.button-microapp:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
a.button-microap i, a.button-option i {
	margin: 2px;
}


/******************************************************************************************************************************************************/
/********************** Filter (filter bar above the frame that display career/departments) styles ******************/
/******************************************************************************************************************************************************/
.filter_bar {
	text-align: center;
	padding: 6px 4px 0 4px;
	margin-top: 12px;	
	min-height: 20px;
  margin-bottom: 9px;
  background: rgba(31, 93, 154, 0.05);
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.filter_bar .btn-group {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
}


/******************************************************************************************************************************************************/
/*********************************************************** Row styles ***********************************************************/
/******************************************************************************************************************************************************/

.row {
	overflow: visible;
	*zoom: 1;
	margin-left: -30px;
}
.row:before,
.row:after {
	display: table;
	content: "";
}
.row:after {
	clear: both;
}

/******************************************************************************************************************************************************/
/********************** Accordion (for displaying career or departments) styles ******************/
/******************************************************************************************************************************************************/

.accordion {
	margin-bottom: 18px;
}
.accordion-heading {
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 0;
	position:relative;
	border-bottom: 0;
	margin-left: 0;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-heading .accordion-toggle {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	padding: 8px 15px;
}
.accordion-heading:hover .accordionToolsWrapper{
	left: -400px;
}
.accordionCourseSelected .toolsWrapper{
	width: 84px;
}
.accordionCourseSelected .btn-remove {
	margin-left: 16px
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.accordion-body .btn-group {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #FAFAFA;
	color: #333;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -ms-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.accordion-body .btn-group a.dropdown-toggle {
	color: #333;
	text-decoration: none;
	box-shadow: initial;
}
.accordion-body .btn-group:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.accordion-body .btn-group:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.accordion-body .btn-group.active,
.accordion-body .btn-group:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.accordion-inner > .btn-toolbar {
	margin-top: 9px;
	margin-bottom: 9px;
	height:40px;
}
.accordion-inner p{
	font-size: 13px;
}
.accordion-inner {
padding: 9px 15px;
border-top: 1px solid #E5E5E5;
}

/********************** Div that will collapse when we open the accordion (overidde twitter bootstrap css) *****************/
.collapse {
-webkit-transition: height 0.35s ease;
-moz-transition: height 0.35s ease;
-ms-transition: height 0.35s ease;
-o-transition: height 0.35s ease;
transition: height 0.35s ease;
position: relative;
overflow: hidden;
height: 0;
}
/********************** When we open the accordion the div get the class: in *****************/
.collapse.in {
height: auto;
}


/******************************************************************************************************************************************************/
/********************** Tools wrapper (for displaying HTML or PDF buttons ******************/
/******************************************************************************************************************************************************/
.toolsWrapper {	
	margin: 0;
	padding: 0;
	position: absolute;	
	top: 0px;
	right: 0px;
	background: rgba(31, 93, 154, 0.05);
	/* padding-top: 8px;
	padding-left: 16px;
	padding-bottom: 8px; */
	width: 64px;
height:100%;	
	-webkit-box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.05);
}
.toolsWrapper .dropdown {
	display: inline-block;
}
.toolsWrapper .dropdown-menu {
	right: 0;
	left: inherit;
	float: right;
}

/******************************************************************************************************************************************************/
/********************** datatable of Search results ******************/
/******************************************************************************************************************************************************/

table.tablesorter {
	border: 1px solid rgba(0, 0, 0, 0.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
thead * {
	font-size: 11px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: rgba(151, 200, 241, 0.125);
	border-color: #DDD
}
table.tablesorter .col-sigle{text-align:center;white-space: nowrap;width: 15% !important;}
table.tablesorter .col-nom {text-align:left;width: 25% !important;}
table.tablesorter .col-co {text-align:center;width: 10% !important;}
table.tablesorter .col-department{text-align:left;width: 20% !important;}
table.tablesorter .col-career {text-align:left;width: 20% !important;}
table.tablesorter .col-lang{text-align:center;width: 10% !important;}

table .col-co-department{text-align:left;white-space: nowrap;width: 25% !important;}
table .col-co-career {text-align:left;width: 25% !important;}
table .col-co-credits {text-align:center;width: 10% !important;}
table .col-co-requirements{text-align:left;width: 40% !important;}

 table .dropdown-menu {
 	float: right;
 	left: inherit;
 	right: 0;
}

 .table { 
	table-layout: fixed;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
	margin-top:20px;
	}
	
.table thead:first-child tr th, .table thead:first-child tr td {
	border-top: 0;
}

.table thead th {
	vertical-align: bottom;
}
.table th, .table td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	border-top: 1px solid #DDD;
}
td, th {
	display: table-cell;
	vertical-align: inherit;
}



/*****************************
*******  Breadcrum (fil ariane ) *******
****************************/

.breadcrumb {
padding: 7px 14px;
margin: 0 0 18px;
background-color: #FBFBFB;
background-image: -moz-linear-gradient(top, white, whiteSmoke);
background-image: -ms-linear-gradient(top, white, whiteSmoke);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
background-image: -webkit-linear-gradient(top, white, whiteSmoke);
background-image: -o-linear-gradient(top, white, whiteSmoke);
background-image: linear-gradient(top, white, whiteSmoke);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 white;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 white;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
list-style: none;
}

.breadcrumb li {
display: inline;
text-shadow: 0 1px 0 white;
}







/******************************************************************************************************************************************************/
/*********************************************************** Boutons styles ***********************************************************/
/******************************************************************************************************************************************************/
.btn {
  position: relative;
float: left;
display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  color: #333333;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  margin-bottom: 0;
  margin-right: 3px;
  vertical-align: middle;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/******************************************************************************************************************************************************/
/*********************************************************** Span styles ***********************************************************/
/******************************************************************************************************************************************************/

.span4{
float:left;
width: 30%;
}
.span5 {
width: 470px;
margin-left: 30px;
float: left;
}

.span6{
margin-left: 30px;
float: left;
}
.span7 {
width: 670px;
margin-left: 30px;
float: left;
}
.span8{
float:right;
width: 67%;
}
.span12 {
width: 1170px;
margin-left: 30px;
float: left;
}





/******************************************************************************************************************************************************/
/*********************************************************** Conditional styles ***********************************************************/
/******************************************************************************************************************************************************/

/*when we have a big enought resolution*/
@media (min-width: 1200px){
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1170px;
	}
}
/*when we print page*/
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }  

  /*we don't display header and footer when we print*/
  #HEC-header, #printSelection {display: none}
  .breadcrumb {display: none}
  
  #footerLinks {visibility:hidden }  
}

.container::before, .container::after {
display: table;
content: "";
}

/******************************
*******  Course Outline ******
*****************************/
.courseOutline {
	background: white;
	padding: 8px 32px;
	border:1px solid #ddd; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.courseOutline ul {
	margin-bottom: 0;
}
.courseOutline p {
	font-size: 13px;
	margin: 0px;
}
table.courseOutline-ressource, 
div.courseOutline-ressource {
	font-size: 13px;
	margin-bottom: 1em;
}
div.icone-niveau {
	margin-right: 5px;
}
div.important_header {
	color: #FFFFFF;
	border: 2px solid #B6BEC4;
	background-color: #B6BEC4;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
}
div.important_body {
	border: 2px solid #B6BEC4;
	background-color: #EFF2F4;
	padding-left: 4px;
	padding-right: 4px;
}
/*
div.ressource-type{
	color: #8C8A87;
}
div.ressource-filename{
	color: #A0A0A0;
}
*/
div.comment {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.nav-sublist, .nav.nav-list {
	list-style-type: none;
}
/* course outline headings */
.courseOutline-main h2, 
.courseOutline-main h3, 
.courseOutline-main h4 {
	margin: 10px 0;
	color: #012B5D;
}
.courseOutline-main h2 {
	line-height: 40px;
	font-size: 30px;
}
.courseOutline-main h3 {
	line-height: 30px;
	font-size: 24px;
}
.courseOutline-main h4 {
	line-height: 20px;
	font-size: 18px;
}