
.nav-tabs > li > a:hover {
	/*background-color: #E0E8EF;*/
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1);   /* IE6 & 7 */
      zoom: 1;
}
.well {
	/*background: #E9ECF1;*/
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A);   /* IE6 & 7 */
      zoom: 1;
}
a.button-microapp:hover {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
	 zoom: 1;
}
.accordionTools {
	background: /*#F1F1F1*//*#97C8F1*//*#C8DEF1*/;
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5DFECF6,endColorstr=#E5DFECF6)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5DFECF6,endColorstr=#E5DFECF6);   /* IE6 & 7 */
      zoom: 1;
}

.accordion-heading {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.trimester {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A)";/* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A);   /* IE6 & 7 */
      zoom: 1;
}
.accordionTools3 {
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5DFECF6,endColorstr=#E5DFECF6)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5DFECF6,endColorstr=#E5DFECF6);   /* IE6 & 7 */
      zoom: 1;
}
.toolsWrapper {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0C1F5D9A,endColorstr=#0C1F5D9A);   /* IE6 & 7 */
      zoom: 1;
}

/**/
a.button-microapp i, a.button-option i {
	/*background: transparent;*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FFFFFFF,endColorstr=#3FFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FFFFFFF,endColorstr=#3FFFFFFF);   /* IE6 & 7 */
      zoom: 1;
	/*opacity: 0.25;
	filter: alpha(opacity=25);*/
}
a.button-microapp:hover/*, a.button-option:hover*/{
	/*background: transparent;*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
      zoom: 1;
}
a.button-microapp:hover/*, a.button-option:hover*/{
	/*background: transparent;*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
      zoom: 1;
	/*background: rgba(255, 255, 255, 0.75);*/
}
.icon-archive {
	margin: 0 5px 4px 0
}
/**/

.pagination li a:hover {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1);   /* IE6 & 7 */
      zoom: 1;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1F97C8F1,endColorstr=#1F97C8F1);   /* IE6 & 7 */
      zoom: 1;
} 

#archives .navbar.search-toolbar .nav > li > a:hover {
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FA89A69,endColorstr=#7FA89A69)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FA89A69,endColorstr=#7FA89A69);   /* IE6 & 7 */
      zoom: 1;
}    
#archives .well {
	/*background: #ECE4C6;*/
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26C4B382,endColorstr=#26C4B382)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26C4B382,endColorstr=#26C4B382);   /* IE6 & 7 */
      zoom: 1;
}
#archives table.tablesorter thead tr th, #archives table.tablesorter tfoot tr th {
	background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FC4B382,endColorstr=#3FC4B382)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3FC4B382,endColorstr=#3FC4B382);   /* IE6 & 7 */
      zoom: 1;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	/*background-color: #072354;*/
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F012B5D,endColorstr=#7F012B5D)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F012B5D,endColorstr=#7F012B5D);   /* IE6 & 7 */
      zoom: 1;
}